ACCESS_CONTROL_ALLOW_ORIGIN=http://localhost:4200
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-token
UPSTASH_REDIS_REST_URL=your-upstash-redis-rest-url
VAPID_PRIVATE_KEY=your-vapid-private-key
VAPID_PUBLIC_KEY=your-vapid-public-key
VAPID_SUBJECT=mailto:you@example.com
